/* 
#form {
  width: 300px;
  margin: 0 auto;      
  border: 1px solid #000;
  padding: 20px;
  text-align: center;  
}
button{
  background-color: rgb(34, 122, 255);
  color: white;
  border: 1px solid rgb(0, 110, 153);
  
} */
 #con{
  text-align: center;
 }



