img{
    height: 510px;
    width: 1000px;
   border: 2px solid black;
margin-left:70px;
margin-top: 0px;

}

p{
   
     font-family: Georgia, 'Times New Roman', Times, serif; 
     font-weight: bolder;
     text-align: center;
}

#si{
    text-align: center;
    font-size: larger;
}


