#navdash {
  list-style: none;
  background-color: #2c2c2c;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;

}

.xyz {
  cursor: pointer;
  color: white;
  height: 100vh;
  text-align: center;
}

.col-4 {
  background-color: #2c2c2c;
}